APP_NAME=CAMELIA API
APP_ENV=development
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=camelia
POSTGRES_USER=camelia
POSTGRES_PASSWORD=camelia
DATABASE_URL=postgresql://camelia:camelia@localhost:5432/camelia
