APP_NAME=CAMELIA API
APP_ENV=development
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=camelia
POSTGRES_USER=camelia
POSTGRES_PASSWORD=camelia
DATABASE_URL=postgresql://camelia:camelia@localhost:5432/camelia
GEMINI_API_KEY=AIzaSyB3P45E2mvO3Cz89SWKDGPy9r99soqppkA
PROJECT_ID=impactthon2026