[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"
psycopg = {extras = ["binary"], version = "*"}
uvicorn = "*"
google-cloud-aiplatform = "*"
google-generativeai = "*"

[dev-packages]
pytest = "*"
httpx = "*"
ruff = "*"

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn app.main:app --reload --host 0.0.0.0 --port 8000"
test = "pytest"
lint = "ruff check ."
